---
layout: default
title: Farm - 2022
permalink: /works/farm/2022
---


<div class="image_grid_container">

	<h1>Farm - 2022</h1>

	<p>
		The body buzzing, the garden is suspended between histories, between what was once here and what can still grow. In the Ontario soil, Lola isn’t just planting food but sowing a quiet resistance to time. The earth, reluctant, doesn’t yield easily. Does rain have a sound of its own, or is it only upon collision that sound occurs? With Pilen Construction's help, the land is gently reshaped, and trees that once stood tall are woven back into the soil as pathways, an offering to what was and what could still be. 
		<br><br>
		This garden is a tribute not only to Lola’s grandfather but also to the wisdom of Indigenous communities whose hands once shaped this land. Though their teachings have often been erased, Lola’s work is guided by the understanding that those who stewarded the land before them left a legacy of care. Has anybody heard the pure sound of rain falling? The garden hums with anticipation for learning from that wisdom, even if Lola has yet to meet the people who carry it. If we could put our ears right up to it, what would it sound like? Domenic’s gate, a simple artifact, stands at the entrance as a symbol of connection to the past and the possibility of what could unfold. As they plant, water, and dream, Lola and their community move gracefully, understanding that restoration is a humble act of being inside the light.
	</p>

	<h1>Hearth Stone</h1>

	<div class="image_grid">

		{% for item in site.data.works.farm2022hearthstone %}

		<div class="image_grid_item">
			<img src="{{ item.url }}" alt="{{ item.alt }}">
		</div>

		{% endfor %}
		
	</div>

	<h1>Film Shot By Lola</h1>

	<div class="image_grid">
		{% for item in site.data.works.farm2022filmshotbylola %}

		<div class="image_grid_item">
			<img src="{{ item.url }}" alt="{{ item.alt }}">
		</div>

		{% endfor %}
	</div>

	<h1>Blips of Beings</h1>

	<div class="image_grid">

		{% for item in site.data.works.farm2022blipsofbeings%}

		<div class="image_grid_item">
			<img src="{{ item.url }}" alt="{{ item.alt }}">
		</div>

		{% endfor %}
	</div>

</div>