<style type="text/css">
	
	header {
		display: flex;
		flex-direction: row;
		position: fixed;
		line-height: 1;
		width: 100vw;
		padding: 1rem 2rem;
		top: 0;
		left: 0;

		z-index: 9999999999;

	}

	header .logo {
	}

	header .logo a {
		text-decoration: none;
	}

	header nav {
		flex: 1;
		text-align: right;
	}

	header nav ul li {
		display: inline-block;
		margin-left: 1rem;
	}

	header nav ul li a {
		text-decoration: none;
	}

	header nav ul li a:hover {
		text-decoration: underline;
	}

</style>

<header>

	<div class="logo">
		<a href="/">HONEY ON THE HEART</a>
	</div>

	<nav>
		<ul>

			<li>
				<a href="{{ site.baseurl }}/about/">About</a>
			</li>

			<li>
				<a href="{{ site.baseurl }}/work/">Work</a>
			</li>

			<li>
				<a href="{{ site.baseurl }}/contact/">Contact</a>
			</li>
			
		</ul>
	</nav>
	
</header>