<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <meta name="theme-color" content="#0000">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lacquer&display=swap" rel="stylesheet">

</head>
<body>

    <div class="overlay">
        <div class="overlay-content">
            <img class="overlay-img" src="">
            <video class="overlay-video" controls style="display: none;"></video>
        </div>
    </div>

    {% include header.html %}  

    <main>
        {{ content }}
    </main>

    {% include footer.html %} 

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function() {
        $(".image_grid_item img").click(function() {                                             
            var parent = $(this).parent();
            var videoUrl = parent.data('video');
            var imageUrl = $(this).prop('src');

            if (videoUrl) {
                $(".overlay-video").attr("src", videoUrl).show();
                $(".overlay-img").hide();
            } else {
                $(".overlay-img").attr("src", imageUrl).show();
                $(".overlay-video").hide();
            }

            $(".overlay, .overlay-content").addClass("active");
        });

        // Close overlay on click outside content
        $(document).click(function(e) {
            if (!$(e.target).closest(".overlay-content, .image_grid_item").length) {
                $(".overlay-img").attr("src", "");
                $(".overlay-video").attr("src", "").hide();
                $(".overlay, .overlay-content").removeClass("active");
            }
        });

        // Close overlay when clicking on the image or video itself
        $(".overlay-content img").click(function(e) {
            $(".overlay-img").attr("src", "");
            $(".overlay-video").attr("src", "").hide();
            $(".overlay, .overlay-content").removeClass("active");
            e.stopPropagation();
        });
    });
    </script>

</body>
</html>